src/*.exe
src/catcoin
src/catcoind
src/test_catcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.catcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
catcoin-qt
Catcoin-Qt.app

# Unit-tests
Makefile.test
catcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb/Makefile
.idea/CatcoinRelease.iml
.idea/misc.xml
.idea/modules.xml
.idea/shelf/Uncommitted_changes_before_Update_at_23-05-2024_11_43__Changes_.xml
.idea/workspace.xml
.idea/vcs.xml
